.resource-element {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.8rem;
    row-gap: 1rem;
    width: 12rem;
    height: 7rem;
    border: 0.2rem solid #D8D8D8;
    border-radius: 20px;
    padding: 1rem;
    text-transform: uppercase;
}

.resource-title {
    font-size: 1rem;
    padding-left: 0.5rem;
}

.item {
    display: flex;
    align-items: last baseline;
    justify-content: baseline;
}