.resource-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    gap: 1.5rem;
}

.resource-header {
    font-weight: normal;
    margin: 0;
    transform: translateX(18%);
}