.App {
  text-align: left;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 5rem;
  font-weight: normal;
}

h2 { 
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: normal;
  background-color: #EFEFEF;
  padding: 1rem;
  padding-left: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: normal;
  margin: 0;
  transform: translateX(18%);
}

p {
  position: absolute;
  text-align: right;
  transform: translateX(180%) translateY(-250%);
  font-size: 0.75rem;
}

ul {
  list-style: none;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.horizontal-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-flex-fill {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  margin-right: 5rem;
  margin-left: 2.5rem;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-grid {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.power {
  border-radius: 20px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  height: 2rem;
  width: 200px;
}

.green {
  background-color: #CCE9C1;
  color: #316C28;
}

.green-text {
  color: #316C28;
  margin-top: 0.25rem;
  font-size: 0.75rem;
}

.red {
  background-color: #FFD5D5;
  color: #A03A3A;
}

.red-text {
  color: #A03A3A;
}

.question-mark {
  padding-left: 0.5rem;
  transform: translateY(-30%);
  width: 1.2rem;
}

.hover-box {
  position: absolute;
  border: 0.1rem solid grey;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 15px;
  font-size: 1rem; 
  margin-left: 0.5rem;
  transform: translateY(-40%);
}

.none {
  display: none;
}

.Solar {
  color: #FFCC23;
}

.EV {
  color: #32CB10;
}

.Battery {
  color: #EA0D10;
}

.Load {
  color: #1524FF;
}

.power-output {
  padding: 0.2rem;
  width: 5rem;
  min-width: 10px;
  border-radius: 5px;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.small-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.small-box {
  border-radius: 10px;
  font-size: 0.65rem;
  padding: 0.2rem;
  text-align: center;
  width: 2.5rem;
  height: 1rem;
}

.small-box-2 {
  position: absolute;
  margin-top: 1.5rem;
  font-size: 0.5rem;
}

.warning {
  position: absolute;
  transform: translateY(-40%);
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
}
